# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Data & Results
results/
# data/*.csv

# Models
*.pkl

# OS
.DS_Store

# logs
logs/
*.log

# ML / Model Training Artifacts
catboost_info/
lightgbm_model.txt

